<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9YcNhTp3Ne9A62Frp_dszlaSnbvwDld8</string>
	<key>GCM_SENDER_ID</key>
	<string>5825551233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarshipTradingApp</string>
	<key>PROJECT_ID</key>
	<string>scholarship-trading-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scholarship-trading-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5825551233:ios:ddaf3f198464b6ae65a680</string>
</dict>
</plist>
